--
-- PostgreSQL database dump
--

\restrict XDW02yaBLLdyhjlkhWOpp69S3sCeCcMDGWIYXDRwhBeskg8j1ZZVKfbk5n9PNNO

-- Dumped from database version 17.6 (Debian 17.6-1.pgdg13+1)
-- Dumped by pg_dump version 17.6 (Debian 17.6-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: doacoes; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.doacoes (
    id integer NOT NULL,
    doador_id integer NOT NULL,
    valor numeric(10,2) NOT NULL,
    data_doacao date NOT NULL,
    forma_pagamento character varying(50) NOT NULL,
    status character varying(20) DEFAULT 'pendente'::character varying
);


ALTER TABLE public.doacoes OWNER TO admin;

--
-- Name: doacoes_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.doacoes_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.doacoes_id_seq OWNER TO admin;

--
-- Name: doacoes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.doacoes_id_seq OWNED BY public.doacoes.id;


--
-- Name: doadores; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.doadores (
    id integer NOT NULL,
    nome character varying(100) NOT NULL,
    email character varying(100) NOT NULL,
    telefone character varying(20) NOT NULL,
    cpf_cnpj character varying(20) NOT NULL,
    endereco text,
    status character varying(20) DEFAULT 'ativo'::character varying,
    data_cadastro timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.doadores OWNER TO admin;

--
-- Name: doadores_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.doadores_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.doadores_id_seq OWNER TO admin;

--
-- Name: doadores_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.doadores_id_seq OWNED BY public.doadores.id;


--
-- Name: interacoes; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.interacoes (
    id integer NOT NULL,
    tipo_interacao character varying(50) NOT NULL,
    observacoes text,
    data_interacao timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    doador_id integer NOT NULL,
    usuario_id integer NOT NULL
);


ALTER TABLE public.interacoes OWNER TO admin;

--
-- Name: interacoes_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.interacoes_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.interacoes_id_seq OWNER TO admin;

--
-- Name: interacoes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.interacoes_id_seq OWNED BY public.interacoes.id;


--
-- Name: usuarios; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.usuarios (
    id integer NOT NULL,
    nome character varying(100) NOT NULL,
    email character varying(100) NOT NULL,
    senha character varying(255) NOT NULL,
    nivel_acesso integer DEFAULT 1 NOT NULL
);


ALTER TABLE public.usuarios OWNER TO admin;

--
-- Name: usuarios_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.usuarios_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.usuarios_id_seq OWNER TO admin;

--
-- Name: usuarios_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.usuarios_id_seq OWNED BY public.usuarios.id;


--
-- Name: doacoes id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.doacoes ALTER COLUMN id SET DEFAULT nextval('public.doacoes_id_seq'::regclass);


--
-- Name: doadores id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.doadores ALTER COLUMN id SET DEFAULT nextval('public.doadores_id_seq'::regclass);


--
-- Name: interacoes id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.interacoes ALTER COLUMN id SET DEFAULT nextval('public.interacoes_id_seq'::regclass);


--
-- Name: usuarios id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.usuarios ALTER COLUMN id SET DEFAULT nextval('public.usuarios_id_seq'::regclass);


--
-- Data for Name: doacoes; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.doacoes (id, doador_id, valor, data_doacao, forma_pagamento, status) FROM stdin;
1	1	100.00	2025-09-15	Pix	pendente
\.


--
-- Data for Name: doadores; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.doadores (id, nome, email, telefone, cpf_cnpj, endereco, status, data_cadastro) FROM stdin;
1	Jo├úo Silva	joao@email.com	11999999999	12345678900	Rua A, 123	ativo	2025-09-16 02:46:05.419451
2	Jo├úo Silva	joao@email.com	11999999999	12345678900	Rua A, 123	ativo	2025-09-16 02:46:40.396106
\.


--
-- Data for Name: interacoes; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.interacoes (id, tipo_interacao, observacoes, data_interacao, doador_id, usuario_id) FROM stdin;
1	Liga├º├úo	Primeiro contato	2025-09-16 02:50:25.017494	1	1
\.


--
-- Data for Name: usuarios; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.usuarios (id, nome, email, senha, nivel_acesso) FROM stdin;
1	Admin	admin@email.com	$2b$10$M5FgEQY0QddGSCrTaOkUW.G4G51KevGeLjBCc/9TItEcaNj3iC546	1
\.


--
-- Name: doacoes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.doacoes_id_seq', 1, true);


--
-- Name: doadores_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.doadores_id_seq', 2, true);


--
-- Name: interacoes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.interacoes_id_seq', 1, true);


--
-- Name: usuarios_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.usuarios_id_seq', 1, true);


--
-- Name: doadores doadores_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.doadores
    ADD CONSTRAINT doadores_pkey PRIMARY KEY (id);


--
-- Name: interacoes interacoes_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.interacoes
    ADD CONSTRAINT interacoes_pkey PRIMARY KEY (id);


--
-- Name: usuarios usuarios_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_pkey PRIMARY KEY (id);


--
-- Name: doacoes fk_doacoes_doador; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.doacoes
    ADD CONSTRAINT fk_doacoes_doador FOREIGN KEY (doador_id) REFERENCES public.doadores(id);


--
-- Name: interacoes fk_interacoes_doador; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.interacoes
    ADD CONSTRAINT fk_interacoes_doador FOREIGN KEY (doador_id) REFERENCES public.doadores(id);


--
-- Name: interacoes fk_interacoes_usuario; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.interacoes
    ADD CONSTRAINT fk_interacoes_usuario FOREIGN KEY (usuario_id) REFERENCES public.usuarios(id);


--
-- PostgreSQL database dump complete
--

\unrestrict XDW02yaBLLdyhjlkhWOpp69S3sCeCcMDGWIYXDRwhBeskg8j1ZZVKfbk5n9PNNO

